@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Override the default font family */
  html {
    font-family: "Nunito", sans-serif;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
